<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="/static/styles.css" rel="stylesheet">

<body>

<div class="logo-header"><img src="https://devcon.blackboard.com/branding/_13_1/loginLogo/CustomLoginLogo.png" width="150px" /></div>

<div style="width:80%; margin: 0 auto;">
    <h1>Thank you for your interest in the Kansas Blackboard User Group 2020 Virtual Conference!</h1>

    <p>
        This year has been a roller coaster ride, right? While we wish we could see everyone in person, it's unfortunately not going to happen.
        That said, we really want to make sure we can get together in a virtual environment, share, and grow together, even if we can't do it 
        face-to-face. 
    </p>

    <p>
        Enter the <strong>virtual KBug Conference!</strong>
    </p>

    <p>
        We are working with Blackboard to deliver our conference in Blackboard Learn Ultra, using Blackboard Collaborate. You will
        get all of the great content you are used to, but you can do so from the device of your choice in the location of your choice. Heck,
        you can even wear your pajamas if you want. And don't worry if you are not a member of KBug, or if you even live in Kansas. All
        are welcome to join us and share in the festivities! 
    </p>
        For more information on the conference or the agenda, visit our <a href="https://community.blackboard.com/groups/blogpost/view/60/45/346" target="_blank">Blackboard Community page</a> (requires a community account to access).
    </p>
    
    <p>
        To register for the event, simply click the button below. We will ask you a few questions, and then we will give you your access
        information. There won't be an email, so please be sure to copy or write down the URL, username, and password you are provided.
    </p>
    
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
</div>

<div id="id01" class="modal">
    
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/register" method="POST">
    <div class="container">
        <div class="logo-header"><img src="https://devcon.blackboard.com/branding/_13_1/loginLogo/CustomLoginLogo.png" width="150px" /></div>
        <h1>KBug 2020 Virtual Conference Regisration</h1>

        <div><h2>Contact Information:</h2>
          <p><input type="text" placeholder="First name..." oninput="this.className = ''" name="fname"></p>
          <p><input type="text" placeholder="Last name..." oninput="this.className = ''" name="lname"></p>
          <p><input type="text" placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
          <p><input type="text" placeholder="Institution name..." oninput="this.className = ''" name="institution"></p>
          <p><input type="text" placeholder="Job Title..." oninput="this.className = ''" name="title"></p>
        </div>
        <div><h2>Program Information:</h2>
          <p>
              <input type="radio" id="tnl" oninput="this.className = ''" name="track" value="tnl">
              <label for="tnl">Teaching and Learning</label>
      
              <input type="radio" id="admin" oninput="this.className = ''" name="track" value="admin">
              <label for="admin">System Administrators</label>
          </p>
        </div>

            <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>